@import "tailwindcss";

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.btn {
  @apply flex flex-row absolute left-1/2 -translate-x-1/2 cursor-pointer rounded-3xl bg-white/60 px-5 py-2 text-base font-medium uppercase text-gray-700 shadow-2xl backdrop-blur transition-all hover:bg-white/80 focus:outline-none active:translate-y-1 active:shadow-lg;
}

.btn--new {
  @apply top-10 md:top-30 lg:top-0;
}
.btn--roll {
  @apply top-120 lg:top-80;
}
.btn--hold {
  @apply top-135 lg:top-100;
}

.dice {
  @apply h-18 w-18 md:h-32 md:w-32;
}

/* Mobile fixes */
@media (max-width: 767px) {
  .btn--roll {
    top: 40% !important;
  }
  .btn--hold {
    top: 52% !important;
  }
}
